<div class="row ml-5">
    <div class="col-6">    
        <form method="GET" action="/listCity" >
            <label for="countrySelection">Select a Country</label>
            <select class="form-control" name="countrySelection" id="countrySelection" onchange="this.form.submit()">
                {{#if hasCtry}}
                <option selected value="{{Ctry.Code}}">{{Ctry.Name}}</option>
                {{else}}
                <option selected disabled value="">Choose a country...</option>
                {{/if}}
                {{#each countryList}}
                <option value="{{this.Code}}">{{this.Name}}</option>
                {{/each}}
                
            </select>
            <br><br>
        </form>

        <form method="GET" action="/retrieve" >
            <label for="citySelection">Select a City</label>
            <select class="form-control" name="citySelection" id="citySelection" required>
                {{#if hasCtry}}
                <option selected disabled value="">Choose a city...</option>
                {{#each cityList}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
                {{else}}
                <option selected disabled value="">Choose a city...</option>
                {{/if}}
            </select>
            <br><br>

            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
</div>